* {
  margin-left: 5px;
  padding: 5x;
}

body {
  background-color: rgb(249, 249, 249);
  overflow-x: hidden;
}

/* Start of Global stylings */
:root {
  --orange: rgb(245, 112, 64);

  flex {
    display: flex;
  }
}
/* End of Global styling */



/* Start of nav bar styling */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

 ul {
  list-style: none;
  display: flex;
  gap: 20px;
} 

nav a {
  text-decoration: none;
  color: black;
}

#nav-btn {
  background-color: var(--orange) ;  
  color: rgb(255, 255, 255);
  border: none;
  font-size: 10px;
  padding: 10px;
  border-radius: 7px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-btn:hover {
  background-color: white;
  border: var(--orange) 1px solid;
  color: black;
}

#hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
/* End of nav bar styling */



/* Start of Hero styling */
#Hero {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin-top: 90px ;
  margin-left: 40px;
  
}

#hero-content {
  position: relative;
    padding-left: 40px;

}

#hero-content h1 {
  padding-top: 60px;
}

#hero-btn #get {
  background-color: var(--orange);
  width: 150px;
  height: 50px;
  color: white;
  border-radius: 6px;
  border: none;
}
#hero-btn #get:hover {
   background-color: rgb(241, 241, 241);
   color: black;
  border: var(--orange) 1px solid;
}


#hero-btn #app {
  width: 130px;
  height: 50px;
  border-radius: 6px;
  border: solid 1px var(--orange);
  margin-left: 5px;
  background-color: rgb(241, 241, 241);
}
#hero-btn #app:hover  {
   background-color: var(--orange);
   color: white;
}

#figures {
  display: flex;
  margin-top: 40px;
  gap: 7px;
}

#figures span {
  font-size: 7px;
}
#Hero img {
  position: absolute;
  right: -10%;
  top: 0%;
}
/* End of Hero styling */



/* Start of Image section styling */
  
  #verify {
    width: 100%;
    height: 100vh;
    margin-left: 40px;
    margin-top: 60px;
    /* background-color: rgb(241, 241, 241); */
    /* color: var(--orange); */
  }
  #verify h1 {

  }

  #companies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    margin-bottom: 10%;
   }

/* End of Image section styling */



/* Start of about section styling */
#about {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-around;
  padding-right: 8%;
  padding-top: 40px; 
  padding-bottom: 40px;
  width: 100%;
  height: 100vh;
  margin-left: 40px;
}
#section-btn {
  background-color: var(--orange);
  width: 150px;
  color: white;
  border-radius: 6px;
  border: none;
}
#section-btn:hover {
    border: solid 1px rgb(241, 241, 241);

}
/* End of about section styling */



/* Start of services section styling*/
#services {
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  /* padding: 30px; */
}

/* GRIDS */
#grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 40px;

}

#errands {
  width: 350px;
  height: 150px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
}
#errands:hover {
  background-color: var(--orange);
  color: white;
}
#errands p {
  font-size: x-small;
}

#food {
  width: 350px;
  height: 150px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
#food:hover {
    background-color: var(--orange);
  color: white;
}
#food p {
  font-size: x-small;
}

#taxi {
  width: 350px;
  height: 150px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
#taxi:hover {
    background-color: var(--orange);
  color: white;
}
#taxi p {
  font-size: x-small;
}

#delivery {
  width: 350px;
  height: 150px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
#delivery:hover {
    background-color: var(--orange);
  color: white;
}
#delivery p {
  font-size: x-small;
}

#payment {
  width: 350px;
  height: 150px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
#payment:hover {
  background-color: var(--orange);
  color: white;
}
#payment p {
  font-size: x-small;
}

#estate {
  width: 350px;
  height: 150px;
  background-color: rgb(241, 241, 241);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}
#estate:hover {
  background-color: var(--orange);
  color: white;
}

#estate p {
  font-size: x-small;
}
/* End of services section styling */



/* Start of Workings section styling */
#workings {
  margin-top: 40px;
}

#contents {
  position: relative;
  margin-top: 50px;
  padding-right: 8%;
  margin-left: 40px;
 

}
#contents img {
  position: absolute;
  top: 0%;
  right: 32%;
}

.one-three {
  display: flex;
  justify-content: space-between;
}
.two-four {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
/* End of Workings section styling */



/* Start of Profile styling */
#profile {
  background-color: rgb(241, 241, 241);
  padding: 30px;
  margin-top: 30px;
  margin-left: 40px;

}

.span {
  display: flex;
}
#span span:first-child {
  font-weight: bolder;
}
#span span:last-child {
  font-size: x-small;
}
#profile p {
  font-size: x-small;
  font-weight: bold;
}
/* End of Profile styling */


#plus {
  display: flex;
  gap: 10px;
  padding-left: 40px;
}

#ten {
  width: 300px;
  height: 150px;
  background-color: var(--orange);
  padding-top: 60px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

#five {
  width: 300px;
  height: 150px;
  background-color: var(--orange);
  padding-top: 60px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

#two-four {
  width: 300px;
  height: 150px;
  background-color: var(--orange);
  padding-top: 60px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}


/* Start of Footer styling */
footer {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
footer a {
  color: black;
  text-decoration: none;
}

#footer-flex {
  display: flex;
  gap: 20px;
}
#footer-icons {
  display: flex;
  gap: 10px;
   
}

#last {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#last a {
  color: black;
  font-weight: lighter;
}
#img {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgb(255, 238, 231);
  width: 100%;
  padding-right: 8%;

}
section p {
  font-size: small;
}

/* End of Footer styling */
